
{{> header}}
<!-- Details -->
<section class="details">
  <div class="detail">
    <h1>Title: {{ posts.title }}</h1>
    <h2>Category: {{ posts.category }}</h2>
    <h3>Content: {{ posts.content }}</h3>
    <a href="/home">Back to Home</a>
  </div>
</section>