
{{#if movie.Creator}}
<a class="btn btn-danger" href="#">Delete</a>
<a class="btn btn-warning" href="#">Edit</a>
{{else}}
<a class="btn btn-primary" href="#">Like</a>
<span class="enrolled-span">Liked 1</span>
{{/if}}